@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    background-color:#fc82ff;background-image:  
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0, transparent 50%),  
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0, transparent 50%),  
    radial-gradient(at 0% 50%, hsla(355,85%,93%,1) 0, transparent 50%),  
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0, transparent 50%),  
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0, transparent 50%),  
    radial-gradient(at 64% 0%, rgb(255, 247, 199) 0, transparent 31%),  
    radial-gradient(at 98% 100%, hsla(189,100%,56%,1) 0, transparent 43%);

    /*background-color:#fc82ff;background-image:  
    radial-gradient(at 19% 88%, hsla(186,69%,77%,1) 0, transparent 43%),  
    radial-gradient(at 15% 26%, hsla(238,93%,70%,1) 0, transparent 47%),  
    radial-gradient(at 55% 89%, hsla(174,81%,77%,1) 0, transparent 52%),  
    radial-gradient(at 33% 2%, hsla(336,67%,62%,1) 0, transparent 42%),  
    radial-gradient(at 11% 60%, hsla(221,87%,66%,1) 0, transparent 54%);*/
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post{
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover{
    & .arrow-btn{
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}